.searchForm {
  width: 100%;
}

.searchForm section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.searchForm section input {
  width: 100%;
}

.results {
  display: grid;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}

.result {
  height: 450px;
  width: auto;
  overflow: hidden;
}

.result picture {
  height: 300px;
  overflow: hidden;
  display: flex;
  width: 100%;
}
.result img {
  object-fit: cover;
  width: 100%;
}